<div class="layout layout--row layout--stretch">
  <!-- Left Column: Artwork -->
  <div class="flex flex--col flex--stretch flex--center-x flex--center-y h-full">
    <div class="flex flex--center-x" style="max-height: 80%; width: auto;">
      <img 
        src={{ pokemon_data.artwork }} 
        alt="pokemon Artwork" 
        class="image-dither" />
    </div>

    <!-- Pokémon Name -->
    <div class="flex flex--center-x">
      <span class="value value--small" data-value-fit="true" style="font-weight: bold;">{{ pokemon_data.name }}</span>
    </div>
  </div>

  <!-- Right Column: Details -->
  <div class="flex flex--col flex--left gap--xlarge h-full">
    <!-- Pokémon Details -->
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xsmall">{{ pokemon_data.types }}</span>
        <span class="label label--small">Type</span>
      </div>
    </div>

    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xsmall">{{ pokemon_data.species }}</span>
        <span class="label label--small">Species</span>
      </div>
    </div>

    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xsmall">{{ pokemon_data.height }}</span>
        <span class="label label--small">Height</span>
      </div>
    </div>

    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xsmall">{{ pokemon_data.weight }}</span>
        <span class="label label--small">Weight</span>
      </div>
    </div>

    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xsmall">{{ pokemon_data.abilities }}</span>
        <span class="label label--small">Abilities</span>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/2/23/Pok%C3%A9_Ball.svg" />
  <span class="title">Who's That Pokémon?</span>
</div>